---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Categories from '../components/Categories.astro';
import About from '../components/About.astro';
import MenuInteractive from '../components/MenuInteractive.astro';
import Location from '../components/Location.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Categories />
    <About />
    <MenuInteractive />
    <Location />
    <Contact />
  </main>
  <Footer />
</Layout>
